<div class="container" >
    <form action="">
        <div class="row">
            <div class="col">
                <h3 class="title">Direccion De Envio</h3>
                <div class="inputbox">

                    <span>Nombre Completo</span>
                    <input type="text" placeholder="Juan ME">
                </div>

                <div class="inputbox">
                    <span>email</span>
                    <input type="email" placeholder="example@gmail.com">
                </div>

                <div class="inputbox">
                    <span>Direccion</span>
                    <input type="text" placeholder="calle - localidad">
                </div>

                <div class="inputbox">
                    <span>Ciudad</span>
                    <input type="text" placeholder="Lima">
                </div>

                <div class="flex">
                    <span>Distrito</span>
                    <input type="text" placeholder="Carabayllo">
                </div>

                <div class="inputbox">
                    <span>zip code</span>
                    <input type="text" placeholder="123 456">
                </div>
            </div>
            
    <!--lateral derecho-->
            <div class="col">
                <h3 class="title">Servicio de Pago</h3>
                <div class="inputbox">
                    <span>Tarjetas Aceptadas</span>
                    <img src="/src/app/mainPages/payu/mastercard.svg">
                </div>
                <div class="inputbox">
                    <span>Nombre de la Tarjeta</span>
                    <input type="email" placeholder="mr. Juan ME">
                </div>
                <div class="inputbox">
                    <span>Numero de Tarjeta de Credito</span>
                    <input type="number" placeholder="1111-2222-3333-4444">
                </div>
                <div class="inputbox">
                    <span>Mes de Exp</span>
                    <input type="text" placeholder="Agosto">
                </div>
                <div class="flex">
                    <span>Año de Exp</span>
                    <input type="number" placeholder="2025">
                </div>
                <div class="inputbox">
                    <span>CVV</span>
                    <input type="number" placeholder="1234">
                </div>
            </div>
        
        </div>

        <input type="submit" value="Realizar Pago" class="submit-btn">

    </form>

</div>
