.actived{
    background-color: rgb(31 41 55 / var(--tw-bg-opacity)) /* #1f2937 */;
}

.hidden{
    opacity: 0;
}

.main-content {
    max-width: 98%; /* Limita el ancho al 100% del contenedor */
    overflow: hidden; /* Evita el scroll */
}