.actived{
    background-color: rgb(55 65 81 / var(--tw-bg-opacity)) /* #374151 */;
}

.hidden{
    opacity: 0;
}

.main-content {
    max-width: 98%; /* Limita el ancho al 100% del contenedor */
    overflow: hidden; /* Evita el scroll */
}