.bg-image-gradient {
  background-size: cover;        /* Asegura que la imagen cubra todo el fondo */
  background-position: center;   /* Centra la imagen */
  background-repeat: no-repeat;  /* Evita que la imagen se repita */
  width: 100%;                   /* Asegura que el div ocupe todo el ancho disponible */
  position: relative;
}

.bg-image-gradient::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, #121212 100%);
}

progress[value] {
    border: none;
    appearance: none;
  }
  
  progress[value]::-webkit-progress-bar {
    background-color: #e5e7eb;
    border-radius: 0.25rem; 
  }
  
  progress[value]::-webkit-progress-value {
    background-color: #3b82f6; 
    border-radius: 0.25rem;
  }
  