progress[value] {
    border: none;
    appearance: none;
  }
  
  progress[value]::-webkit-progress-bar {
    background-color: #e5e7eb;
    border-radius: 0.25rem; 
  }
  
  progress[value]::-webkit-progress-value {
    background-color: #3b82f6; 
    border-radius: 0.25rem;
  }
  